<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1>all cats names</h1>
    <ul>
        <% for(let cat of cats){ %>
        <li><%= cat %></li>
        <% } %>
    </ul>
    
    
</body>
</html>