<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1>Welcome Home <%= ' hello world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus dicta quae magnam neque voluptatem nesciunt ad tempora, corrupti beatae quam facilis natus? Iste cupiditate cum, expedita tempore voluptatibus fuga molestiae.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus dicta quae magnam neque voluptatem nesciunt ad tempora, corrupti beatae quam facilis natus? Iste cupiditate cum, expedita tempore voluptatibus fuga molestiae.</p>
</body>
</html>