<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1>the number is <%= rand %> and it is an </h1>
    <% if(rand%2===0){ %>
        <h2>is an even number</h2>
    <% }else { %>
        <h2>is an odd number</h2>
    <% } %>
</body>
</html>